*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu{
position: relative;
width: 95vw;
height: 5vh;
top: 10px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
display: flex;
margin: 0 auto;

align-items: center;
}
.menu li{
list-style-type: none;
}
.menu a{
margin-left: 20px;
color: #000000;
text-decoration: none;
}

.profile-pic{
display: flex;
margin: 2vw auto;
width: 25vw;
height: 30vh;
border-radius: 5px;
background-color: bisque;
box-sizing: border-box;
box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.25);
}



.charts > div{
    margin: 5vh 10vw;
    width: 15vw;
    height:30vh;
    border-radius: 50%;
    background-color: bisque;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.charts{
    display: flex;
    flex-direction: raw;
}

@media screen and (max-width: 600px) {
.menu{
    margin: 0 auto;
    padding: 0;
    flex-direction: column;

   
}

.profile-pic{
   margin-top: 15vh;
    width: 55vw;
    height: 20vh;
    }
.charts > div{
    margin: 2vh auto;
    width: 45vw;
    height: 20vh;
}
    .charts{
        display: flex;
        flex-direction: column;
    }
    
}
        
      

    
